img{
    min-width: 200px;
    min-height: 200px;
}

p{
    font-size: 2.3em;
}

.hekate{
    margin-left: 20px;
}

.atmosphere{
    margin-right: -100px;
    margin-top: -80px;
} 

.atmosphere-image{
    margin-right: 150px;
}

.reinx{
    margin-right: 30px;
    margin-top: -400px;
}