*{
    margin: 0;
    padding: 0;

}
canvas{
    display: block;
    margin: auto;
    background-color: rgb(104, 104, 104);
    max-width: 1280;
    max-height: 720;
    margin-top: 10px;
    border-radius: 50px;
}

input{
    min-width: 100px;
    min-height: 50px;
    border: none; 
}

body{
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 119, 255));
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
}

.padding-10{
    padding: 10px
}
</style>