body
{
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol
{
    display: inline;
}

button
{
    border-radius: 60px;
    min-width: 50px;
    min-height: 50px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

img 
{
    border: none;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
}

button:hover 
{
    border: solid;
    border-color: rgb(0, 114, 207);
}

img:hover 
{
    border: solid; 
    border-color: rgb(0, 114, 207)
}

button.game 
{
    border: none;
    border-radius: 0px;
    max-width: 400px;
    max-height: 400px;
    align-items: center;
}

img.players
{
    max-width: 32px;
    max-height: 32px;
    min-width: 32px;
    min-height: 32px;
    border-radius: 30px;
}

img.players:hover 
{
    border: none;
}

img.services 
{
    max-width: 32px;
    max-height: 32px;
    min-width: 32px;
    min-height: 32px;
    border-radius: 30px;
}