body {
    text-align: center;
    font-family: 'Roboto';
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
  
textarea {
    width: 32%;
    float: top;
    min-height: 250px;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    background: #f4f4f9;
    outline: none;
    font-family: Courier, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    font-family: 'Roboto';
    font-size: 1.5em;
}

iframe {
    bottom: 0;
    position: relative;
    width: 100%;
    height: 35em;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    max-width: 800px;
    max-height: 600px;
    min-width: 800px;
    min-height: 600px;
    border-radius: 10px;
    border: solid;
    border-color: rgb(0, 170, 248);
}